@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #efefef;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #4AACED;
    font-weight: 600;
  }
}

.flex {
  display: flex;
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//form样式重写
//表格样式
.el-table {
  thead tr {
    background-color: #f2f2f2;
    color: #848484
  }
  th {
    padding: 6px 0px !important;
  }
  td {
    padding: 6px 0px !important;
  }
}

//分页器重写
.pagination-container {
  .el-pagination {
    text-align: right
  }
}

.firstMin {
  min-height: 646px;
}

//dialog 弹框重写
.el-dialog__wrapper .el-dialog {
  box-shadow: 0px 0px 0px 12px #a6a6a6;
  border-radius: 6px;
  .el-dialog__header {
    background-color: #0c9ceb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 10px 10px 20px;
    .el-dialog__title {
      color: #fff;
      font-size: 16px;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #fff
    }
  }
  .el-dialog__body {
    background-color: #e8edef;
    border-bottom-left-radius: 6px;
   	border-bottom-right-radius: 6px;
  }
  .el-dialog__footer {
    background-color: #e8edef;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

//brainsTree 组件
.tree-layout {
  position: absolute;
  width: 199px;
  min-height: 100%;
  // background-color: red;
  border-right: 1px solid #ebeef5;
  left: 0;
  top: 0;
  padding: 20px 0px 20px 0px;
}
//当前库标签页
.bread-box {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  height: 30px;
  line-height: 30px;
}

.bread-box label {
  color: #5a5e66;
  font-size: 14px;
  font-weight: 500
}

.type-bread {
  padding: 0;
  margin: 0px;
  margin-left: 5px;
  margin-right: 12px;
  padding-bottom: 1px;
}

.bread-items {
  display: inline-block;
}

.bread-items a {
  color: #1276c3;
  font-size: 14px;
}

.bread-items a::after {
  content: '/';
  padding: 0 5px;
  color: #1276c3;
}

.bread-items:last-child a::after {
  content: '';
  padding: 0 5px;
  color: #1276c3;
}
